body {
    padding-bottom: 0px;
    color: #000;
}
body a{
    color: #3b73af;
}
/* AVDW: Updated style for notes */

blockquote {
    padding: 12.5px 25px;
    margin: 0 0 25px;
    font-size: 16px;
    border: 3px solid #4060c0;
}

/* Updated style for footer */

footer {
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: auto;
}

/* Updated style for menu items */

.toc .level1 > li {
  font-weight: normal;
}

/* Updated style for images in list */

ul li  img, ol li img {
    display: inline;
}

/********************************************/

.sidefilter {
    top: 90px;
    width: 280px;
}

.sidetoc {
    top: 156px;
    width: 100%;
}

.breadcrumb {
    padding: 6px 0 0 0;
    margin: 0;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

th, td {
    padding-left: 5px;
    padding-right: 10px;
    vertical-align: top;
    border:solid 1px #ccc;
    text-align: left;
    padding-left: 5px;
    padding-right: 10px;
    vertical-align: middle;
}

th, td img{
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
}

.article, #search-results {
    margin-top: 81px;
}

.search-list {
    padding-top: 25px;
}

.video_container{
    float:left;
    width:780px;
    margin-top:30px;
}
.video_container_left{
    float:left;
    width:360px;
    margin-right:10px;
}
.video_container_right{
    float:left;
    width:360px;
    margin-left:30px;
}
.video_container_content{
    float:left;
    width:100%;
    text-align:center;
}

@media only screen and (max-width: 768px) {
  .toc-toggle {
    display: inherit;
  }
  
  /* Our site.css override btn.display */
  .mobile-hide {
    display: none !important;
  }
  
  .article {
    margin-top: 30px !important;
  }
}

/* Already defined on navbar, but since we have conflict with current Xenko navbar we redefine them on breadcrumb */
.navbar {
    z-index: 50;
    margin-bottom: 0px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    min-height: 36px;
}

/* Don't try to make a collapsable navbar, even on smaller devices */
.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-right {
    float: right !important;
}

.navbar-nav {
    border-left: 1px solid #e7e7e7;
    width: 530px;
    height: 54px;
    margin-top: 0 !important;
}

.navbar-nav > li {
    height: 54px;
    border-right: 1px solid #e7e7e7;
    float: left;
}

.navbar-nav > li > a {
    color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 54px;
}

.navbar-nav > li > a:hover {
    background: #f0f0f0;
}

/* make container auto adjust up to 1370px */
.container {
  width: initial;
  max-width: 1370px;
}

.toc .nav > li > a {
  margin-left: 5px;
}

.toc .level1 > li {
  margin-top: 5px;
}

.toc .level3 {
    font-weight: normal;
    margin-left: 15px;
    font-size: 12px;
}

.toc .level1, .toc .level2, .toc .level3, .toc .level4, .toc .level5 {
    margin-top: 0px;
}

.toc .level4 {
    font-weight: normal;
    margin-left: 15px;
    font-size: 12px;
}
.toc .level5 {
    font-weight: normal;
    margin-left: 15px;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6, span.xref {
    word-wrap: normal;
    word-break: normal;
}

/* adjust before size so that anchor (#title) makes text scroll to proper location without hiding it under title bar */
h1:before, h2:before, h3:before, h4:before {
  height: 106px;
  margin-top: -106px;
}

footer {
  text-align: center;
}

article ul li, article ol li {
    list-style: inherit;
    margin-left: 1em;
}

article .img-caption {
    display: block;
    font-style: italic;
    font-size: small;
    color: #555;
}

article table {
    margin-bottom: 10px;
}

/* Tip, Note and Warning
   TODO: Perform some HTML or CSS transform to directly map boostrap instead?
*/
.TIP, .NOTE, .WARNING, .doc-incomplete {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 10px 10px 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.TIP {
    background-color: #f3f9f4;
    border-color: #91c89c;
}

.NOTE {
    background-color: #e5ebf6;
    border-color: #7d9fc1;
}

.WARNING, .doc-incomplete {
    background: #fff8f7;
    border-color: #d04437;
}

.TIP > :first-child,
.NOTE > :first-child,
.WARNING > :first-child {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.TIP > :first-child::before,
.NOTE > :first-child::before,
.WARNING > :first-child::before,
.doc-incomplete::before {
    position: absolute;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: initial;
    margin-left: -22px;
    margin-top: 15px;
}

.TIP > :first-child::before {
    color: #14892c;
    content: "\e089";
}

.NOTE > :first-child::before {
    color: #4a6785;
    content: "\e086";
}

.WARNING > :first-child::before {
    color: #cf4336;
    content: "\e101";
}

.doc-incomplete::before {
    color: #cf4336;
    content: "\e136";
}

.TIP > :last-child,
.NOTE > :last-child,
.WARNING > :last-child,
.doc-incomplete > :last-child {
    margin-bottom: 0;
}

/* Labels
   TODO: Perform some HTML or CSS transform to directly map boostrap instead?
*/
.label-doc-level {
    background-color: #337ab7;
}

.label-doc-audience {
    background-color: #5cb85c;
}

.doc-incomplete {
    margin-bottom: 10px;
}

.doc-incomplete::before {
    margin-top: 0;
}

.doc-incomplete::after {
    content: "This documentation is under construction";
}

.label-doc-highlight {
    background-color: #5cb85c;
}

/* Set new font-sizes for heading */
h1{
    font-size: 35px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 16px;
}


.xk-documentation-table{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.article.grid-right{
    padding-left: 15px;
}
@media only screen and (max-width: 1625px){
    .sidefilter, 
    .sidetoc{        
        margin-left: 0;
    } 
    .article.grid-right{
        margin-left: 410px;
    }
}
@media only screen and (max-width: 1275px){
    .sidefilter, 
    .sidetoc{        
        margin-left: 0;
        /*width: 260px;*/
    } 
    .article.grid-right{
        margin-left: 280px;
    }  
}
@media only screen and (max-width: 768px){
    .article.grid-right{
        margin-left: 0;
    } 
    .sidefilter, 
    .sidetoc{                
        width: 100%;
    } 
}
/* Redesign Documentation main page (05.12.2016) */
.submenu-navbar{
    margin: 5px 0 5px 50px;
}
.submenu-navbar li{
    display: inline-block;
    border-right: 1px solid #e7e7e7;
}
.submenu-navbar li:last-child{
    border-right: none;
}
.submenu-navbar li a{
    display: inline-block;
    color: #111111;
    font-size: 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
}
.xk-documentation-list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 35px;
}
.xk-documentation-list li{
    margin-left: 0;    
    position: relative;
    margin-bottom: 35px;
    min-height: 140px;    
    border-radius: 5px;
}
.xk-documentation-list li>a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 20px;
}
.xk-documentation-list li>a>h2{
    margin-left: -3px;
}
.xk-documentation-list li a p{
    margin-right: 60px;
    padding-right: 50px;
}
.xk-documentation-list li a h2,
.xk-documentation-list li a p{
    color: #000;
    position: relative;
}
.xk-documentation-list li a h2:before{
    display: none;
}
.xk-documentation-list li .xi_arrowLink{
    width: 40px;
    height: 78px;
    float: right;
    position: relative;
    top: -28px;
    right: 40px;
    display: block;
    overflow: hidden;
    background: url(http://xenko.com/images/svg/arrow.svg) no-repeat -26px 50%;
    background-size: 132px 200px;
}
.xk-documentation-list li:hover .xi_arrowLink{
    background-position: 100% 50%;
}
.xk-documentation-list li:hover{
    background-color: #E8E8E8;
}
.xk-custom-breadcrumb{
    margin-top: 15px;
    padding: 15px 0 0 0;
}
.xk-custom-breadcrumb ul{
    padding: 5px 0 0 0;
    margin: 0;
    background: transparent;
}
.xk-custom-breadcrumb + article.content h1,
.xk-custom-breadcrumb + article.content h2{
    margin-top: 36px;
    margin-bottom: 10px;
}
.xk-custom-breadcrumb + article.content h3,
.xk-custom-breadcrumb + article.content h4{
    margin-top: 28px;
    margin-bottom: 10px;
}
#_content h1:first-child,
.xk-margin-default{
    margin-top: 10px !important;
}
@media screen and (max-width: 768px){
    .xk-documentation-list li a p:after{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .submenu-navbar li a{
        font-size: 1.2rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    .xk-documentation-list li a p{
        padding-right: 10px;
    }
    .xk-documentation-list li .xi_arrowLink{
        top: 12px;
        right: 10px;
    }

}
@media only screen and (max-width: 1625px){
    .sidefilter, 
    .sidetoc{        
        margin-left: 0;
    } 
    .article.grid-right{
        margin-left: 410px;
    }  
}
@media only screen and (max-width: 1275px){
    .sidefilter, 
    .sidetoc{        
        margin-left: 0;
        /*width: 260px;*/
    } 
    .article.grid-right{
        margin-left: 280px;
    }  
}
@media only screen and (max-width: 768px){
    .article.grid-right{
        margin-left: 0;
    } 
    .sidefilter, 
    .sidetoc{
        width: 100%;
    }
    .toc .level2 > li{
        display: block;
        text-align: left;
        margin-top: 5px;
    }
    .toc .level2 > li:after{
        display: none;
    }
    article h1, article h2, article h3, article h4{
        word-break: break-word;
        word-wrap: break-word;
    }
}

@media only screen and (min-width: 767px){
     /* Create resizable TOC section (issue #138) */
     /*Hide elements while script doesn't set the sizes to it*/
    .container.body-content.hide-when-search{
        display: none;
    }
    #sidetoggle{
        position: fixed;
        top: 90px;
        z-index: 999;
        width: 280px;
        min-height: 100vh;
        background-color: #f1f1f1;
    }
    .sidefilter + .sidetoc{
        position: static;
        /*margin-top: 65px;*/
    }
    .ui-resizable-handle.ui-resizable-e{
        width: 2px;
        user-select: none;
        background: #afadad;
        box-shadow: -1px 0px 1px 0px #CCC;
        right: -2px;
    }
    #sidetoc{
        height: calc(100vh - 166px);
        margin-top: 66px;
        overflow: auto;
        background-color: #f1f1f1;
    }
    .toc .level1 > li{
        text-align: left;
    }
}